.card0 {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	padding: $card-padding-mobile;
	background-color: $primary-beige;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $primary-purple;
}
.card0-loading {
	width: 100%;
	height: 100%;
	max-width: 432px;
	max-height: 432px;
	background-image: url("../images/loading.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}