$primary-beige: #EFDFD2;
$primary-yellow: #FDB931;
$primary-pink: #D96EE9;
$primary-pink-variant: #ED82FD;
$primary-purple: #5B39F4;
$primary-purple-variant: #866BFF;
$primary-deep-blue: #00162A;

$secondary: #F1D2B9;
$white: #FFFFFF;
$white-transparent: rgba(#FFFFFF, 0.05);
$black: #001120;
$black-variant: #000B14;

$shadow-purple: #5735F0;

$gradient-colorful: linear-gradient(90deg, #5B39F4 0%, #BD8FE1 48.96%, #FFBD31 100%);
$gradient-transparent: linear-gradient(90deg, $white 0%, $white-transparent 100%);