/* default */
$breakpoint: 960px;
$page-max-width: 1440px;
$card-padding-mobile: 24px;
$card-padding-desktop: 40px;

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	border: none;
	padding: 0;
}
button {
	border: none;
	background-color: rgba(white, 0.0);
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;	
	height: auto;
}